<hr>
<title> Tentative Weekly References for  CS170 Operating Systems, Fall 2012
</title>


<H2>
Weekly References for  CS170 Operating Systems
</H2>
<strong> Note that </strong> 
you can <a href="http://www.os-book.com">click here </a>
for original slides and solutions to practice exercises of the text book.  
Some of links in this page point to my old lecture slides  and I will update lecture slides when I start to present them.


<p>
OSCE stands  for text book "Operating Systems Concepts Essential".
OSC stands for text book "Operating Systems Concepts" by the same authors with 8th edition.
These two textbooks have the same chapter content.
OSC has a few more chapters and thus the chapter numbering is slightly different
from that of OSCE after Chapter 6. 

<p>
<ul>
<li> <h3> <font color="red"> Week 1: </font>  </h3> 


Introduction to OS and Process Management. If time permits, Thread Management. 
<p>

<strong> Read: </strong> OSCE Chapters 1.1-1.8, 
3.1-3.4 <br>
 <a href="http://www.cs.ucsb.edu/~cs170/linux/">
forkexecex.c, shmserver.c, and shmclient.c 
</a> for Linux process programming.


<p> <strong> Slides:</strong> <br> 
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/slides/ch1.2012.ppt"> OSCE Chapter 1. </a> <br>

<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/slides/ch3.2012.ppt"> OSCE Chapter 3. </a> <br>

<p> <strong> Practice Exercises:</strong>  (Due on Oct 15 during class)<br>
Chapter 1: 1.1, 1.3, 1.7, 1.8.</br>
Chapter 3:  3.1,  3.3, <a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/Problem3.10.pdf"> 3.10</a> <br>
Show the running trace of <a href="http://www.cs.ucsb.edu/~cs170/linux/forkexecshm.c">  forkexecshm.c </a>.<br>

<!--
<p> <strong> Useful reading for those who need to review C++ concepts (you can use any other reference to review C++):</strong>  

<A HREF="http://www.cs.ucsb.edu/~tyang/class/170.f10/projects/nachos-3.4/c++example/">  
	C++ quick guide and samples </a> <p>

-->





<li> <h3> <font color="red"> Weeks 2/3: </font>  </h3> 
 
<strong>  </strong> Thread Management. Process/thread synchronization. Nachos. <br>
<p>


 
<strong> Read:  </strong>
 
 Chapter  4.1,  4.3.1 <br>

<a href="http://www.yolinux.com/TUTORIALS/LinuxTutorialPosixThreads.html"> Pthreads </a>
<br>
<!--
</strong>
<a href="handouts/nachosCh.pdf">An introduction to Nachos by T. Anderson </a></dd> <br>
-->

Section 3 (Nachos Threads) of <a href="handouts/roadMapNachos.pdf">
  A Road Map Through Nachos  (PDF) </a>
 (<a href="http://www.informatik.tu-darmstadt.de/BS/Lehre/BS-Praktikum/RoadMap/">
HTML version </a> )
<br>

<!--
 <a href="http://www.cs.duke.edu/~narten/110/nachos/main/main.html">
  A Road Map Through Nachos  (HTML)</a> </strong> by T. Narten.  <br>
-->


<p> <strong> Slides:</strong>   
<br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/slides/ch4part1.2012.ppt"> OSCE Chapter 4 Part 1. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/slides/ch6.2012part1.ppt"> OSCE Chapter 6 Part 1. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/slides/170nachos2012part1.ppt"> Nachos slides (Part 1)</a>.
<br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f10/projects/project1codeflow.html"> 
Walk-through of source code for Nachos execution under threads directory</a>.

 <p> <strong> Practice Exercises:</strong> (Due on Oct 15 during class) <br>

Chapter 4: 4.1,  4.3, 4.4 <br>


<p> <strong> Programming Project:</strong>  <br>

<a href="projects/homework_0.html">Project #0: NACHOS Warm-up</a> (Due date: Oct 10) <br>

<p>


<li> <h3> <font color="red"> Week 3: </font>  </h3> 
Synchronization. Programming Project 1. 
<p>

<strong> Read </strong> 
<br>
OSCE Chapter 6.1, 6.2, 6.5, 6.6.1. <br>
<a href=" http://www.cs.ucsb.edu/~tyang/class/170.f10/projects/nachos/threads">
Nachos source code under threads directory</a>.
<p>

<p> <strong> Programming Project:</strong>  <br>
<a href="projects/homework_1.html">Project #1: Threads and Synchronization Operations in NACHOS </a>
(Due date: Oct 22) <p>
 


<li> <h3> <font color="red"> Week 4: </font>  </h3> 
OS structure. System calls.
Address translation and memory management. 
<p>
<strong> Read: </strong>
OSCE Chapters 2.1-2.4,   and 7.<br>

<p>
<strong> Slides  </strong><br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/ch2.2012.ppt"> OSCE Chapter 2. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/Memory2012.ppt"> OSCE Chapter 7. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/170nachos2012part2.ppt"> Nachos slides (Part 2)</a>.
<p>
<strong> Practice Exercises</strong>(Due on Nov 14 during class)<br>
Chapter 2.1, 2.2, 2.3, 2.4, 2.6 <br>
7.1,  7.3,  7.5</br>

<p>

<!--
<strong> Programming Project  </strong><br>
<a href="projects/homework_2.html">Project #2: Multiprogramming and System Calls in NACHOS  </a>
(Due date: Nov 9) 


<li> <h3> <font color="red"> Week 5-6: </font>  </h3> 
Project 2. File system interface. Virtual memory <p>

<strong> Read: </strong> OSCE Chapters 9 and 8. <br>

<p> <strong> Slides  </strong><br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/FileInterface2011.ppt"> OSCE Chapter 9. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/VirtualMemory.ppt"> OSCE Chapter 8. </a> <br>

<p> <strong> Midterm:  </strong> Nov 5, 2012.

<p> <strong> Practice Exercises:</strong>  (Due on Dec 3  during class) <br>
OSCE Chapter 8.1,  8.2, 8.3, 8.7, 8.8 <br>
OSCE Chapter 9.1,  9.2, 9.5, 9.6, 9.8, 9.9
<p>



<li> <h3> <font color="red"> Week 7-8: </font>  </h3> 
File system Implementation. Programming Project 3.  <br>

<p>
<strong> Read: </strong>

OSCE Chapter 10 <br>
<p>
<strong> Slides: </strong>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/170nachos2011part3.ppt"> Nachos slides (Part 3)</a>.
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/FileSystemImp.ppt"> OSCE Chapter 10. </a> 


<p>
<strong> Programming Project  </strong><br>

 <a href="projects/homework_3.html">Project #3: Virtual Memory and File-System in  NACHOS </a>
(Due date: Nov 29)

<p> <strong> Practice Exercises:</strong> (Due on Dec 3 during class) <br>
OSCE Chapter 10: 10.1,  10.2, 10.3, 10.4, 10.6, 10.8
<p>



<li> <h3> <font color="red"> Week 9: </font>  </h3> 
Disk I/O management. Project 3  <br>

<p> <strong> Read: </strong>
OSCE Chapters 11. <br>
<p>
<strong> Slides  </strong><br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/slides/Proj3ImplNotes2010x.pdf"> Project 3 implementation notes </a>. <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f12/Mass-Storage.ppt"> OSCE Chapter 11. </a> <br>

<p> <strong> Practice Exercises:</strong>  (Due on Dec 3 during class) <br>
Chapter 11: 11.8 (a, c, d).
<p>
  


<li> <h3> <font color="red"> Week 10: </font>  </h3> 
CPU Scheduling. Advanced Topic <br>

<p> <strong> Read: </strong>
 OSCE Chapter 5.1-5.5.


<p>
<strong> Slides  </strong><br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f10/slides/ch5.ppt"> OSCE Chapter 5. </a> <br>


<p> <strong> Practice Exercises:</strong> (Due on Dec 3 during class) <br>
Chapter 5: 5.1, 5,2, 5.3, 5.4, 5.5.
<p>
<p> <strong> Final exam:</strong>
Week of Dec. 8, 2012.
 

-->
<!--

<li> <strong> Week 9/10: </strong> 
Selected Topics on Networking and distributed file systems. 
<p> 

<strong> Read: </strong>

OSCE Chapters 16, 17, 21.  <p>

and <a href="http://www.cs.ucsb.edu/~cs170/linux"> Pthreads examples</a>.

<strong> Slides  </strong><br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f10/slides/ch16.ppt"> OSC Chapter 16. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f10/slides/ch17.ppt"> OSC Chapter 17. </a> <br>
<a href="http://www.cs.ucsb.edu/~tyang/class/170.f10/slides/ch21.ppt"> OSC Chapter 21. </a> <br>
<strong> Practice Exercises</strong>(Due on Oct 15 during class)<br>
Chapter 6: 6.1, 6.2</br>
(For 6.2, you can use  pseudo code instead of Java to have a simpler description of your solution.) 
<p>
-->
</ul>
