
<HEAD>
<TITLE>Grading </TITLE>
</HEAD>
<BODY>




<H2> Deadlines </H2>
Oct 10 Wed:  Project 0 <br>
Oct 15 Mon: Exercise set 1 <br>
Oct 22 Mon:  Project 1 <br>
Nov 5 Mon:   Midterm exam <br>
Nov 9 Friday: Project 2 <br>
Nov 14 Mon: Exercise set 2 <br>
Nov 29 Thursday: Project 3 <br>
Dec 3  Mon: Exercise set 3 <br>
Dec 8 week: Final exam <br>


<P>
<H2> Practice Exercises </H2> 

After reading the text book, complete the practice exercises listed in the CS170 website 
and hand in your work during class before each due date.  
You  will receive full credit if you complete the assignments. 
Sample solutions for these problems are normally available 
from the text book web site and will be reviewed during the discussion sections
also.

<P>
<H2> Exams </H2> They will contain  questions
on basic OS concepts and the Nachos projects.
<P>
<H2> Final grade</h2>  
Practice exercises (8%) <br>
Programming Projects (50% total. 10% for Project 1. 20% for Project 2.  20% for Project 3). <br>
Midterm  (16%), and  Final (26%). <p>



<P>
<!--
Your score for Quiz 1 can be improved if you are interested in retaking. 
The revised score will be the average among the first try and second try.
If the score for the second try is  lower than the first try, you can keep the first try.

-->

<H2> Projects </H2>
<P>

<ul>
<li> Each project will be due at midnight of a specified date. You will do
project assignments in a group of two people. Each group should 
use the ``turnin'' program to turn in your code.
Each group  should also turn in a README
file (called HW#_WRITEUP) containing the names of the members of your group and a 
summary of your design and code structure in less than one page (mark
which files have been modified/created, explain corresponding functionality).
For Assignment #1 you should put the file in the threads directory,
for Assignment #2 in the userprog directory, for Assignment #3 in the vm and filesys
directories.
<P>
<li> <b> Turning In:</b> To turn in your Assignment #N  after removing your binary code,
go to the parent directory of your nachos code, and type:
<P>
<PRE>turnin PROJECT#N@cs170 code
</PRE>
<P>
Here #N stands for the number of the assignment that you are turning
in.  Please delete all nachos executable and object files except 
those in the directory for the assignment that you are turning in.
<P>
<li>
<b> Late Penalty:</b>

Every group has one opportunity for being late without penalty if it is turned within 3 days of the deadline.

Otherwise, there will be 10% deducted for each day a project is late.
You will receive no credit for your project after 3 days of the due date.

<P>
<li> <b> Project Grading:</b> 
Projects are graded based on design explanation, structure, and correctness. The approximate breakdown will be 20% basic
concepts, 20% structure, and 60% correctness. There will be several
test files for project assignments #2 and #3; we will give you some of these files in
advance. We will run your code on these test files and some additional and similar test files to see if your project works. 


Some detailed
explanations about grading criteria follow:
<p>
<UL><LI> <b> Understanding of basic concepts and explanation of basic design:</b> 
Does the summary page explain the basic data structures and how they work with each other? 
Does the code reflect an understanding of the basic concepts even if it may contain bugs? 
We include this evaluation criterion because we wish to make a distinction
between students who basically understand the material but are unable
to deliver a working version and students with a limited grasp of the
material.
<P>
<LI>  <b> Structure:</b> Is the code structured reasonably well? Does it contain
reasonable abstractions and comments, and is it easy to follow what is happening?
Does the README file clearly explain how the code is designed?
<P>
<LI>  <b> Correctness:</b> Does the code run the test programs, and are there any
obvious bugs? There is
more to correctness than just running the test programs that we hand
out. If the code contains obvious bugs that our test programs happen
not to exercise, the program is still incorrect.
<P>
</UL>
<P>


If your code does not work, you should still submit your report and code in order to receive partial credit.

<P>
<li> <b> Using the previously-developed sample code:</b> 


We will be considering to select and supply a previously developed sample code.
The sample code was done by a student group from the previous 170 class. 
The sample code may be buggy with a weak coding  style and  it may not have or it may  
not function properly for Project 3. It may not be well documented.


The purpose of distributing the sample code  is to help  you to speedup  in developing your own solution. 
You cannot copy the old code without understanding and without a redesign/improvement.

The grading process for those students who use such a sample code is conducted as follows.

<ul>
<li> You estimate in your project writeup on the percentage of code change you have made when
 following the sample code.
<li> The TA will review your code and 
make a judgment if the code improvement for the 
required files is small (e.g. 5% code change or less), minor ( 10-30% code change),
and major (50% code change or more).

<li> Your final project score will be scaled down by 10% (with small change), 40% (with minor change),
or 80% (between minor and major).  No point deduction for a major change.
</ul>

It is  crucial that you explain well in your project writeup what  changes you have made  
 comparing the distributed sample code and your code/test design so the TA can understand your solution  
better and would not label your project as  category "small change or "minor  change". 
If you do not  explain the improvement/change you have made  in the writeup, 
TA will consider the submission as  category "small change".
</ul>
<P><ADDRESS>
<I>CS 170 Instructor/TA<BR>
Sept, 2012 </I>
</ADDRESS>
</BODY>
